# Project contents
*data/*
*defense*
*results/*
#*figures/*
*manuscript/*
*code/test_manu*
*ethics/*
*doc*
*archive*
code/utilities/lklh_dim-5_h6.npy
code/utilities/lklh_dim-5_h6_bu.npy
# IDE and other software hidden files
**.pptx
*.vscode
.DS_Store
.idea/
__pycache__/
**__pycache__/
# Virtual environment
.th_env
.my-master-project
.python-version