*data/*
*defense*
*results/*
*figures/*
*report/*
*manuscript/*
*code/test_manu*
*ethics/*
*doc*
*archive*

# Large files
code/utilities/lklh_dim-5_h6.npy
code/utilities/lklh_dim-5_h6_bu.npy
**.pptx
code/stoch_matrices

# IDEs and OSX
*.vscode
.DS_Store
.idea/
__pycache__/
**__pycache__/

# Virtual environments
.th_env
.my-master-project
.python-version

# nextcloud sync
**.sync*
**.nextcloud*
